spring.application.name=teamates

# Database connection
spring.datasource.url=jdbc:postgresql://localhost:5432/teamates
spring.datasource.username=postgres
spring.datasource.password=YOUR_PASSWORD_HERE

# JPA / Hibernate
spring.jpa.hibernate.ddl-auto=create
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Google OAuth2
google.client.id=322643731854-lj48lq7u0d1fdevici3hnu9imql06ras.apps.googleusercontent.com